<div class="container">
  <h1>Login to Survey Poodle</h1>

  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        id="username"
        placeholder="Enter your username.."
        FormControlName="username"
        formControlName="username"
        required
        minlength="3"
      />
    </div>

    <div *ngIf="username.invalid && (username.dirty || username.touched)">
      <p *ngIf="username.errors.required">Username is required</p>
      <p *ngIf="username.errors.minlength">
        Username should be at least 3 characters
      </p>
    </div>

    <div *ngIf="password.invalid && (password.dirty || password.touched)">
      <p *ngIf="password.errors.required">Password is required</p>
      <p *ngIf="password.errors.minlength">
        Password should be at least 6 characters
      </p>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="text"
        class="form-control"
        name="password"
        id="password"
        placeholder="Enter your password.."
        formControlName="password"
        required
        minlength="6"
      />
    </div>
    <div class="form-group">
        <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="onLoginClicked()"
        [disabled]="isLoading || loginForm.invalid"
      >
        Login
      </button>
  
    </div>
    <br />

    <div *ngIf="loginError" class="alert alert-danger mt-2" role="alert">
        <h4>Something went wrong</h4>
        <p>{{ loginError }}</p>
    </div>

    <div *ngIf="isLoading">
        <p>Attempting to login...</p>
    </div>
  </form>
  <br />
  <a routerLink="/register">I don't have an account, register now</a>
</div>
